{% extends "base.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Search for a dissolved company
    </h1>
    <p class="govuk-body">Search by name for companies dissolved between 1/1/1989 and 31/12/2009. </p>

    <form action="/dissolved-search/get-results" method="GET">
      {{ govukInput({
        id: "companyName",
        name: "companyName",
        label: {
          text: "Company name"
        }
      }) }}
      {{ govukCheckboxes({
        idPrefix: "alphabetical",
        name: "alphabetical",
        fieldset: {
        legend: {
        classes: "govuk-fieldset__legend--l"
        }
      },
        items: [
          {
            name: "searchType",
            value: "alphabetical",
            text: "Show results alphabetically",
            hint: {
                text: "Previous names not currently available for Alphabetical Search"
            },
            attributes: {
                "data-event-id": "show-dissolved-results-alphabetically",
                id: "show-dissolved-results-alphabetically",
                autocomplete: "off",
                onchange: "changeThis(this)"
              }
          }
        ]
        }) }}
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "changed-name",
            name: "changedName",
            fieldset: {
              legend: {
                text: "Which company names do you want to search?"
              }
            },
            items: [
              {
                value: "bestMatch",
                text: "Company name when they were dissolved",
                checked: true
              },
              {
                value: "previousNameDissolved",
                text: "Previous company names",
                attributes: {
                    "data-event-id": "show-previous-company-name-dissolved",
                    id: "show-previous-company-name-dissolved"
                  }
              }
            ]
          }) }}
      {{ govukButton({
        text: "Search",
        attributes: {
          "data-event-id": "dissolved-search-button",
          id: "dissolved-search-button"
        }
      }) }}
    </form>
  </div>
</div>
{% endblock %}