{
  "ignorePatterns": ["views/", "node_modules/"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "camelcase": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}