{% extends "base.html" %}

{% block pageTitle %}
    {% if errorList.length > 0 %}
        Error:
    {% endif %}
        Alphabetical company search - Find and update company information - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Alphabetical company search
    </h1>
    <form action="/alphabetical-search/get-results" method="GET">
      {{ govukInput({
        id: "companyName",
        name: "companyName",
        label: {
          text: "Company name"
        }
      }) }}
      <script>readValue();</script>
      {{ govukButton({
        text: "Search",
        attributes: {
          "data-event-id": "alphabetical-search-button",
          id: "alphabetical-search-button",
          onclick: "createItem(this)"
        }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
