{% extends "components/template.njk" %}

{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/header/macro.njk"           import govukHeader %}
{% from "./components/footer/macro.njk"               import chFooter %}

{% block head %}
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">
    <!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" media="all" href="{{ CSS_URL }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ ALPHABETICAL_SEARCH }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ NUMBERED_PAGING }}" />
    <!--<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ MATCHER }}"></script>

    <div id="templateName" data-id='{{templateName}}' hidden></div>
    <script type="application/javascript">
      window.SERVICE_NAME = '{{PIWIK_SERVICE_NAME}}'
      window.PIWIK_URL = '{{PIWIK_URL}}'
      window.PIWIK_SITE_ID = '{{PIWIK_SITE_ID}}'
    </script>
{% endblock %}

{% block pageTitle %}
    {{ SERVICE_NAME }}
{% endblock %}

{% block bodyStart %}
  {% include "components/cookie-consent-banner.html" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find and update company information",
  serviceUrl: "https://find-and-update.company-information.service.gov.uk/"
  }) }}
{% endblock %}

{% block footer %}
  <footer class="govuk-footer" id="footer" role="contentinfo">
      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml">
                  Policies
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/help/cookies">
                  Cookies
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/help/contact-us">
                  Contact us
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                 <a class="govuk-footer__link" href="/help/accessibility-statement">
                  Accessibility statement
                 </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="https://developer.companieshouse.gov.uk/" target="_blank">
                  Developers
                </a>
              </li>
            </ul>
            <span class="govuk-footer__inline-list-item">
                Built by <a class="govuk-footer__link" href="https://find-and-update.company-information.service.gov.uk/" rel="license">Companies House</a>
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="//{{CDN_URL}}/javascripts/app/piwik-enable.js"></script>
  <script src="//{{CDN_URL}}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
  <script src="//{{CDN_URL}}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js"></script>
{% endblock %}
