@import "../node_modules/govuk-frontend/dist/govuk/base";

.hidden {
  display: none;
}

#chs-customer-insights {
  background-color: $govuk-brand-colour;
  padding: 0.5em 0.5em 0;
  margin: 0 auto 0;
  height: auto;
  width: 960px;
  max-width: 960px;

  a {
    font-family: "GDS Transport", Arial, sans-serif;
    line-height: 1.5;
    &:link,
    &:visited {
      color: #fff;
    }

    &:focus {
      color: #0b0c0c;
    }
    &:hover {
      color: #bfc1c3;
    }
    &.secondary-customer-insights {
      float: right;
    }
  }
}
@media (max-width: 641px) {
  #chs-customer-insights {
    padding-bottom: 3em;
    width: auto;
    max-width: none;

    a {
      padding-bottom: 1em;

      &.secondary-customer-insights {
        float: left;
        margin-top: 1em;
      }
    }
  }
}
@media (max-width: 959px) and (min-width: 700px) {
  #chs-customer-insights {
    padding-bottom: 0.5em;
    max-width: none;
    width: auto;
  }
}

.near {
  background-color:#1d70b8;
  color: #ffffff;
  a {
    color:#ffffff;
  }
}

.pagination {
  display: inline-block;
  }
  
.pagination a {
  float: left;
  font-size: 19px;
  padding: 8px 30px 0px 0px;
  }

  .accordion-label{
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}

.accordion-hint {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #626a6e;
}

.govuk-input {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.govuk-form-group {
  margin-bottom: 10px;
}

.no-wrap {
white-space: nowrap;
}

.pagination {
display: inline-block;
}

.pagination a {
float: left;
font-size: 19px;
padding: 8px 16px;
}

@media (min-width: 641px) {
  .searchbutton{
      margin-top: 25px;
      margin-left: -17px;

  }
}

.govuk-table-search {

  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.underline {
  text-decoration: underline;
  text-underline-offset: .1em;
}

.one-third-div {
  float: left;
  width: 33%;
}

.two-thirds-div {
  float: left;
  width: 65%;
}

.govuk-input--error {
  border: 2px solid #d4351c;
}

.padded-top {
  padding-top:10px;
}

.download-button {
  justify-content: flex-end; 
  margin-bottom: 0px; 
  margin-right: 0px;
}

.download-text {
  text-align: right;
  color: #505a5f;
} 

.flex-end {
  justify-content: flex-end;
}

.one-half-div {
    float: left;
    width: 50%;
}

.one-half-div-right {
    float: right;
    width: 50%;;
}
.hr-margin {
  margin-top: 60px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .hr-margin-mobile {
     margin-top: 120px;
     margin-bottom: 0px;
  }
}

.nearest .govuk-link {
  color: white;
}
.nearest .govuk-link:focus {
  color: black !important;
}

.near .govuk-link {
  color: white;
}
.near .govuk-link:focus {
  color: black !important;
}

.pager .govuk-link:focus {
  border-bottom: 4px solid black;
}

/* GOV.UK Accordion overrides */
.govuk-frontend-supported .app-accordion--compact {
  /* Since we're going to override the layout of the accordion button, reset all spacing. */
  .govuk-accordion__show-all-text,
  .govuk-accordion__section-toggle-text,
  .govuk-accordion__section-heading-text,
  .govuk-accordion__section-toggle {
    margin: 0;
    padding: 0;
  }
  .govuk-accordion__section-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  .govuk-accordion__section--expanded .govuk-accordion__section-button {
    padding-bottom: govuk-spacing(2);
  }
  .govuk-accordion__show-all {
    float: right;
    margin-bottom: govuk-spacing(1);
  }
  .govuk-accordion__show-all,
  .govuk-accordion__section-toggle,
  .govuk-accordion__section-button {
    @include govuk-font-size($size: 16);
  }
  .govuk-accordion__section-content:not([hidden]) {
    padding: govuk-spacing(3) 0;
  }
  .govuk-accordion__show-all,
  .govuk-accordion__section-toggle-focus {
    display: inline-flex;
    gap: govuk-spacing(1);
    flex-direction: row-reverse;
  }
}
