html, body {
  height: 100%;
}

.govuk-template {
  background-color: #FFF;
}
.entire-wrapper {
	min-height: 95%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -71px; /* the bottom margin is the negative value of the footer's height - plus 11px for border */
}

.govuk-footer__inline-list .govuk-footer__link, .govuk-footer__list .govuk-footer__link {
  text-decoration: underline;
}

#footer {
  border-top: 10px solid #005ea5;
}

.push {
	height: 71px;
}

.hidden {
  display: none;
}

.govuk-footer.ch {
  padding-bottom: 20px;
  padding-top: 20px;
}

#chs-customer-insights {
  background-color: #005ea5;
  padding: 0.5em 0.5em 0;
  margin: 0 auto 0;
  height: auto;
  width: 960px;
  max-width: 960px;

  a {
    font-family: "GDS Transport", Arial, sans-serif;
    line-height: 1.5;
    &:link,
    &:visited {
      color: #fff;
    }

    &:focus {
      color: #0b0c0c;
    }
    &:hover {
      color: #bfc1c3;
    }
    &.secondary-customer-insights {
      float: right;
    }
  }
}
@media (max-width: 641px) {
  #chs-customer-insights {
    padding-bottom: 3em;
    width: auto;
    max-width: none;

    a {
      padding-bottom: 1em;

      &.secondary-customer-insights {
        float: left;
        margin-top: 1em;
      }
    }
  }
}
@media (max-width: 959px) and (min-width: 700px) {
  #chs-customer-insights {
    padding-bottom: 0.5em;
    max-width: none;
    width: auto;
  }
}

.near {
  background-color:#1d70b8;
  color: #ffffff;
  a {
    color:#ffffff;
  }
}

.pagination {
  display: inline-block;
  }
  
.pagination a {
  float: left;
  font-size: 19px;
  padding: 8px 30px 0px 0px;
  }

  .accordion-label{
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}

.accordion-hint {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #626a6e;
}

.govuk-accordion__section-header {
  padding-top: 9px;
  padding-bottom: 9px;
}

 // Buttons within the sections don’t need default styling
.govuk-accordion__section-button {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 12px;
}
.govuk-input {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.govuk-form-group {
  margin-bottom: 10px;
}

.no-wrap {
white-space: nowrap;
}

.pagination {
display: inline-block;
}

.pagination a {
float: left;
font-size: 19px;
padding: 8px 16px;
}

@media (min-width: 641px) {
  .searchbutton{
      margin-top: 25px;
      margin-left: -17px;

  }
}

.govuk-table-search {

  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.underline {
  text-decoration: underline;
  text-underline-offset: .1em;
}

/* Responsive table styling */
thead {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  
  width: 1px;
}

tbody tr {
  display: block;
  margin-bottom: 1.5em;
  padding: 0 0.5em;
}

tbody tr td {
  display: block; /* browsers that don't support flex */
  display: flex;
  justify-content: space-between;
  min-width: 1px;
  text-align: right;
}

@media all and (-ms-high-contrast: none) { /* IE11 flex fix */
  tbody tr td {
    display: block;
  }
}

.responsive-table__heading {
  font-weight: 700;
  padding-right: 1em;
  text-align: left;
  word-break: initial;
}

@media (max-width: 768px) {
  tbody tr td {
    padding-right: 0;
  }
  tbody tr td:last-child {
    border-bottom: 0;
  }
  tbody tr {
    border-bottom: 3px solid grey;
  }

  .responsive-table__cell {
    text-align: right;
  }

  .govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 1em;
  } 

}

@media (min-width: 769px) {
  thead {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    display: table-header-group;
    height: auto;
    overflow: auto;
    position: relative;
    width: auto;
  }
  
  tbody tr {
    display: table-row;
  }
  
  tbody tr td {
    display: table-cell;
    text-align: left;
  }
  
  .responsive-table__heading {
    display: none;
  }
}