.search-meta {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

ul.pager {
  background: transparent;
  width: auto;
  margin-top: 2em;
  padding-left: 0;
  font-family: "GDS Transport", arial, sans-serif;
  text-transform: none;
 -webkit-font-smoothing: antialiased;
}
@media (max-width: 640px) {
  ul.pager {
    margin-left: 0;
    width: 100%;
  }
}

ul.pager li {
  display: inline;
  padding: 0 1.4em 0 0;
  margin: 0;
  float: left;
}

ul.pager li.next {
  float: right;
}

ul.pager li a {
  color: #005ea5;
  font-size: larger;
}

ul.pager li a:active {
  background: transparent;
}

ul.pager li a.next, ul.pager li a.previous {
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  line-height: 1.11111;
}
@media (min-width: 641px) {
  ul.pager li a.next, ul.pager li a.previous {
    font-size: 27px;
    line-height: 1.11111;
  }
}

ul.pager li a.next {
  padding-right: 45px;
  margin-right: -90px;
  float: right;
}

ul.pager li a.next:after {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png");
  background-origin: padding-box;
  background-position: -102px -11px;
  background-repeat: no-repeat;
  background-size: auto auto;
  content: " ";
  display: block;
  float: right;
  height: 38px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: -32px;
  margin-top: -4px;
  width: 30px;
}

ul.pager li a.previous {
  padding-left: 45px;
  margin-left: -45px;
}

ul.pager li a.previous:before {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png");
  background-origin: padding-box;
  background-position: -20px -11px;
  background-repeat: no-repeat;
  background-size: auto auto;
  content: " ";
  display: block;
  float: left;
  height: 38px;
  margin-bottom: 0;
  margin-left: -32px;
  margin-right: 0;
  margin-top: -4px;
  width: 30px;
}

ul.pager li span.active {
  background: transparent;
  font-size: larger;
  font-weight: 700;
  color: #0b0c0c;
}