<header class="govuk-header {{ params.classes if params.classes }}" role="banner" data-module="govuk-header"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
<div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
  <div class="govuk-header__logo">
    <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage" data-event-id="govuk-homepage-link">
        <span class="govuk-header__logotype">

          <!--[if gt IE 8]><!-->
          <!--
              When the SVG is embedded directly in the HTML, it becomes part of the DOM, and any CSS styles applied to its parent elements,
              including colour styles, will affect its rendering. If the inline <svg> has fill="currentColor", it will then inherit the colour of its parent element (here CSS will give WHITE)

              However, when the SVG is loaded as an <img> from a file (ex CDN), it is treated as an external resource, and the SVG's styling is isolated from the rest of the page's CSS.
              So its fill="currentColor" attribute is not dynamically assigned the colour of its parent element; rather, it remains as is.
              If the SVG doesn't have an explicit colour set, the default fill be BLACK.

              To avoid having in the CDN a separate SVG file with an explicit fill=white, we revert black -> white
              via inline CSS (which for this case seems preferred than passing via a separate CSS config)
          -->
          <img src="//{{CDN_URL}}/images/govuk-logotype-crown.svg" alt="" style="filter: invert(100%);" >
          <!--<![endif]-->
          <!--[if IE 8]>
          <img  src="//{{CDN_URL}}/images/govuk-logotype-crown.png" class="govuk-header__logotype-crown-fallback-image" width="36" height="32" alt="">
          <![endif]-->

          <span class="govuk-header__logotype-text">
            GOV.UK
          </span>
        </span>
      {% if (params.productName) %}
        <span class="govuk-header__product-name">
          {{ params.productName }}
        </span>
      {% endif %}
    </a>
  </div>
  {% if params.serviceName or params.navigation  %}
    <div class="govuk-header__content">
      {% if params.serviceName %}
        <a href="{{ params.serviceUrl }}" data-event-id="chs-homepage-link" class="govuk-header__link govuk-header__link--service-name">
          {{ params.serviceName }}
        </a>
      {% endif %}
      {% if params.navigation %}
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide navigation menu') }}">Menu</button>
        <nav>
          <ul id="navigation" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="{{ params.navigationLabel | default('Navigation menu') }}">
            {% for item in params.navigation %}
              {% if item.text or item.html %}
                <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
                  {% if item.href %}
                    <a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                  {% endif %}
                  {{ item.html | safe if item.html else item.text }}
                  {% if item.href %}
                    </a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
  {% endif %}
</div>
</header>

