<div class="search-meta" id="search-meta">
    <ul class="pager" id="pager">
        {% if page > 1 %}
        <li>
            <a class="page govuk-link govuk-pagination__link" id="previous-page" href="{{partialHref}}&page={{page - 1}}">
                Previous
            </a>
        </li>
        {% endif %}
        {% for i in range( pagingRange.start, pagingRange.end ) -%}
            {% if (i == page) %}
                <li>
                    <span class="active">{{ i }}</span>
                </li>
            {% else %}
                <li>
                    <a id="page-{{ i }}" class="class govuk-link govuk-pagination__link" href="{{partialHref}}&page={{i}}">{{ i }}</a>
                </li>
            {% endif %}
        {%- endfor %}

        {% if page < numberOfPages %}
        <li>
            <a class="page govuk-link govuk-pagination__link" id="next-page" href="{{partialHref}}&page={{page + 1}}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</div>