{%- set paginationItems = [] -%}
{%- for i in range(pagingRange.start, pagingRange.end) -%}
    {% set paginationItems = (paginationItems.push({
        number: i,
        current: (i === page),
        href: partialHref + "&page=" + i,
        attributes: {
            id: "page-" + i
        }
    }), paginationItems) %}
{%- endfor -%}
{{ govukPagination({
    classes: "app-pagination--show-all",
    previous: {
        attributes: {
            id: "previous-page"
        },
        href: partialHref + "&page=" + (page - 1)
    } if page > 1,
    next: {
        attributes: {
            id: "next-page"
        },
        href: partialHref + "&page=" + (page + 1)
    } if page < numberOfPages,
    items: paginationItems
}) }}
