{% extends "base.html" %}

{% block pageTitle %}
    {% if errorList.length > 0 %}
        Error:
    {% endif %}
        Advanced company search - Find and update company information - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to Companies House service",
  href: "/"
  }) }}
{% endblock %}

{% set companyStatusHtml %}
  <fieldset class='govuk-fieldset'>
    <div class='govuk-form-group'>
      <div class='govuk-form-group' style='overflow: scroll; height: 200px; width: 623px; padding-left: 5px;'>
        <fieldset class='govuk-fieldset'>
          <legend></legend>
          <div class='govuk-checkboxes--small'>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='assurance-company' name='type' type='checkbox' value='assurance-company'>
              <label class='govuk-label govuk-checkboxes__label' for='assurance-company'>
                Assurance company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='charitable-incorporated-organisation' name='type' type='checkbox' value='charitable-incorporated-organisation'>
              <label class='govuk-label govuk-checkboxes__label' for='charitable-incorporated-organisation'>
                Charitable incorporated organisation
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='converted-or-closed' name='type' type='checkbox' value='converted-or-closed'>
              <label class='govuk-label govuk-checkboxes__label' for='converted-or-closed'>
                Converted or closed
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='eeig' name='type' type='checkbox' value='eeig'>
              <label class='govuk-label govuk-checkboxes__label' for='eeig'>
                European Economic Interest Grouping (EEIG)
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='european-public-limited-liability-company-se' name='type' type='checkbox' value='european-public-limited-liability-company-se'>
              <label class='govuk-label govuk-checkboxes__label' for='european-public-limited-liability-company-se'>
                European public limited liability company (SE)
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='further-education-or-sixth-form-college-corporation' name='type' type='checkbox' value='further-education-or-sixth-form-college-corporation'>
              <label class='govuk-label govuk-checkboxes__label' for='further-education-or-sixth-form-college-corporation'>
                Further education or sixth form college corporation
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='industrial-and-provident-society' name='type' type='checkbox' value='industrial-and-provident-society'>
              <label class='govuk-label govuk-checkboxes__label' for='industrial-and-provident-society'>
                Industrial and Provident society
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='icvc' name='type' type='checkbox' value='icvc'>
              <label class='govuk-label govuk-checkboxes__label' for='icvc'>
                Investment company with variable capital
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='llp' name='type' type='checkbox' value='llp'>
              <label class='govuk-label govuk-checkboxes__label' for='llp'>
                Limited liability partnership
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='limited-partnership' name='type' type='checkbox' value='limited-partnership'>
              <label class='govuk-label govuk-checkboxes__label' for='limited-partnership'>
                Limited partnership
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='old-public-company' name='type' type='checkbox' value='old-public-company'>
              <label class='govuk-label govuk-checkboxes__label' for='old-public-company'>
                Old public company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='oversea-company' name='type' type='checkbox' value='oversea-company'>
              <label class='govuk-label govuk-checkboxes__label' for='oversea-company'>
                Overseas company
              </label>
            </div>

            {% if ROE_FEATURE_FLAG === "1" %}
              <div class='govuk-checkboxes__item'>
                <input class='govuk-checkboxes__input' id='registered-overseas-entity' name='type' type='checkbox' value='registered-overseas-entity' data-event-id='advanced-search-overseas-entity-selected-start-page'>
                <label class='govuk-label govuk-checkboxes__label' for='registered-overseas-entity'>
                  Overseas entity
                </label>
              </div>
            {% endif %}

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='private-limited-guarant-nsc' name='type' type='checkbox' value='private-limited-guarant-nsc'>
              <label class='govuk-label govuk-checkboxes__label' for='private-limited-guarant-nsc'>
                Private limited by guarantee without share capital
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='ltd' name='type' type='checkbox' value='ltd'>
              <label class='govuk-label govuk-checkboxes__label' for='ltd'>
                Private limited company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='private-limited-guarant-nsc-limited-exemption' name='type' type='checkbox' value='private-limited-guarant-nsc-limited-exemption'>
              <label class='govuk-label govuk-checkboxes__label' for='private-limited-guarant-nsc-limited-exemption'>
                Private Limited Company by guarantee without share capital, use of 'Limited' exemption
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='private-limited-shares-section-30-exemption' name='type' type='checkbox' value='private-limited-shares-section-30-exemption'>
              <label class='govuk-label govuk-checkboxes__label' for='private-limited-shares-section-30-exemption'>
                Private Limited Company, use of 'Limited' exemption
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='private-unlimited' name='type' type='checkbox' value='private-unlimited'>
              <label class='govuk-label govuk-checkboxes__label' for='private-unlimited'>
                Private unlimited company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='private-unlimited-nsc' name='type' type='checkbox' value='private-unlimited-nsc'>
              <label class='govuk-label govuk-checkboxes__label' for='private-unlimited-nsc'>
                Private unlimited company without share capital
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='protected-cell-company' name='type' type='checkbox' value='protected-cell-company'>
              <label class='govuk-label govuk-checkboxes__label' for='protected-cell-company'>
                Protected cell company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='plc' name='type' type='checkbox' value='plc'>
              <label class='govuk-label govuk-checkboxes__label' for='plc'>
                Public limited company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='registered-society-non-jurisdictional' name='type' type='checkbox' value='registered-society-non-jurisdictional'>
              <label class='govuk-label govuk-checkboxes__label' for='registered-society-non-jurisdictional'>
                Registered society
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='royal-charter' name='type' type='checkbox' value='royal-charter'>
              <label class='govuk-label govuk-checkboxes__label' for='royal-charter'>
                Royal charter company
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='scottish-charitable-incorporated-organisation' name='type' type='checkbox' value='scottish-charitable-incorporated-organisation'>
              <label class='govuk-label govuk-checkboxes__label' for='scottish-charitable-incorporated-organisation'>
                Scottish charitable incorporated organisation
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='scottish-partnership' name='type' type='checkbox' value='scottish-partnership'>
              <label class='govuk-label govuk-checkboxes__label' for='scottish-partnership'>
                Scottish qualifying partnership
              </label>
            </div>

            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='uk-establishment' name='type' type='checkbox' value='uk-establishment'>
              <label class='govuk-label govuk-checkboxes__label' for='uk-establishment'>
                UK establishment company
              </label>
            </div>
            <div class='govuk-checkboxes__item'>
              <input class='govuk-checkboxes__input' id='unregistered-company' name='type' type='checkbox' value='unregistered-company'>
              <label class='govuk-label govuk-checkboxes__label' for='unregistered-company'>
                Unregistered company
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
{% endset %}

{% block content %}
{# reloads the page if the user uses the navigation buttons in chrome or IE, the search fields will be populated correctly with the queries #}
<script>reloadPage()</script>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Advanced company search</h1>

        <p class="govuk-body"> Fill in one or more fields to search the Companies House register.</p>

        <form action="/advanced-search/get-results" method="GET" autocomplete="off" id="advancedSearchStartPageForm" name="advancedSearchStartPageForm">
          {{ govukAccordion({
            id: "accordion-default",
            showAllSectionsText: "Show all filters",
            hideAllSectionsText: "Hide all filters",
            items: [
              {
                heading: {
                  text: "Company name"
                },
                content: {
                  html: "
                    <fieldset class='govuk-fieldset'>

                      <div class='govuk-form-group'>
                        <label class='accordion-label' for='companyNameIncludes'>
                          Company names that contain
                        </label>
                        <input class='govuk-input govuk-!-width-width-full' id='companyNameIncludes' name='companyNameIncludes' type='text'>
                      </div>

                      <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                      <div class='govuk-form-group'>
                        <label class='accordion-label' for='companyNameExcludes'>
                          Exclude company names that contain
                        </label>
                        <input class='govuk-input govuk-!-width-width-full' id='companyNameExcludes' name='companyNameExcludes' type='text'>
                      </div>

                    </fieldset>"
                }
              },
              {
                heading: {
                  text: "Registered office address"
                },
                content: {
                  html: "
                    <fieldset class='govuk-fieldset'>

                      <div class='govuk-form-group'>
                        <label class='accordion-label' for='registeredOfficeAddress'>
                          Enter a full or partial address
                        </label>
                        <input class='govuk-input govuk-!-width-width-full' id='registeredOfficeAddress' name='registeredOfficeAddress' type='text'>
                      </div>

                    </fieldset>"
                }
              },
              {
                heading: {
                  text: "Incorporation date"
                },
                content: {
                  html: "
                    <div class='govuk-form-group'>
                      <label class='accordion-label' for='incorporationFrom' aria-label='Companies incorporation from'>
                        From
                      </label>
                      <div id='incorporation-date-from-hint' class='accordion-hint'>
                          For example, 27 03 2007
                      </div>
                      <div class='govuk-date-input' id='incorporationFrom'>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-from-day' aria-label='Companies incorporation from day'>
                              Day
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='incorporation-from-day' name='incorporationFromDay' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-from-month' aria-label='Companies incorporation from month'>
                              Month
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='incorporation-from-month' name='incorporationFromMonth' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-from-year' aria-label='Companies incorporation from year'>
                              Year
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-4' id='incorporation-from-year' name='incorporationFromYear' type='text'>
                          </div>
                        </div>
                      </div>

                      <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
                      <label class='accordion-label' for='incorporationTo' aria-label='Companies incorporation to'>
                        To
                      </label>
                      <div id='incorporation-date-to-hint' class='accordion-hint'>
                          For example, 29 03 2007
                      </div>
                      <div class='govuk-date-input' id='incorporationto'>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-to-day' aria-label='Companies incorporation to day'>
                              Day
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='incorporation-to-day' name='incorporationToDay' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-to-month' aria-label='Companies incorporation to month'>
                              Month
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='incorporation-to-month' name='incorporationToMonth' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='incorporation-to-year' aria-label='Companies incorporation to year'>
                              Year
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-4' id='incorporation-to-year' name='incorporationToYear' type='text'>
                          </div>
                        </div>
                      </div>
                    </div>"
                }
              },
              {
                heading: {
                  text: "Company status"
                },
                content: {
                  html: "
                    <fieldset class='govuk-fieldset'>
                      <div class='govuk-form-group'>
                        <div class='govuk-form-group' style='overflow: scroll; height: 200px; width: 623px; padding-left: 5px;'>
                          <fieldset class='govuk-fieldset'>
                            <div class='govuk-checkboxes--small'>
                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='activeCompanies' name='status' type='checkbox' value='active'>
                                <label class='govuk-label govuk-checkboxes__label' for='activeCompanies'>
                                  Active
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                  <input class='govuk-checkboxes__input' id='dissolvedCompanies' name='status' type='checkbox' value='dissolved'>
                                  <label class='govuk-label govuk-checkboxes__label' for='dissolvedCompanies'>
                                    Dissolved
                                  </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='openCompanies' name='status' type='checkbox' value='open'>
                                <label class='govuk-label govuk-checkboxes__label' for='openCompanies'>
                                  Open
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='closedCompanies' name='status' type='checkbox' value='closed'>
                                <label class='govuk-label govuk-checkboxes__label' for='closedCompanies'>
                                  Closed
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='convertedClosedCompanies' name='status' type='checkbox' value='converted-closed'>
                                <label class='govuk-label govuk-checkboxes__label' for='convertedClosedCompanies'>
                                  Converted closed
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='removedCompanies' name='status' type='checkbox' value='removed'>
                                <label class='govuk-label govuk-checkboxes__label' for='removedCompanies'>
                                  Removed
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='receivershipCompanies' name='status' type='checkbox' value='receivership'>
                                <label class='govuk-label govuk-checkboxes__label' for='receivershipCompanies'>
                                  Receivership
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='liquidationCompanies' name='status' type='checkbox' value='liquidation'>
                                <label class='govuk-label govuk-checkboxes__label' for='liquidationCompanies'>
                                  Liquidation
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='administrationCompanies' name='status' type='checkbox' value='administration'>
                                <label class='govuk-label govuk-checkboxes__label' for='administrationCompanies'>
                                  Administration
                                </label>
                              </div>


                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='insolvencyProceedingsCompanies' name='status' type='checkbox' value='insolvency-proceedings'>
                                <label class='govuk-label govuk-checkboxes__label' for='insolvencyProceedingsCompanies'>
                                  Insolvency proceedings
                                </label>
                              </div>

                              <div class='govuk-checkboxes__item'>
                                <input class='govuk-checkboxes__input' id='voluntaryArrangementCompanies' name='status' type='checkbox' value='voluntary-arrangement'>
                                <label class='govuk-label govuk-checkboxes__label' for='voluntaryArrangementCompanies'>
                                  Voluntary arrangement
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </fieldset>"
                }
              },
              {
                heading: {
                  text: "Nature of business"
                },
                content: {
                  html: "
                    <div class='govuk-form-group'>
                      <label class='accordion-label padded-top' for='sicCodes'>
                        Enter a Standard Industrial Classification (SIC) code to search by nature of business.
                      </label>
                      <div id='sic-hint' class='accordion-hint'>
                        For example, 01120
                      </div>

                      <input class='govuk-input govuk-!-width-full' id='sicCodes' name='sicCodes' type='text'>

                      <p class='padded-top'> <a rel='noopener' href='http://resources.companieshouse.gov.uk/sic/' target='_blank' class='govuk-link accordion-label' data-event-id='advanced-search-start-page-sic-link'>Browse SIC codes (opens in new tab)</a></p>
                    </div>"
                }
              },
              {
                heading: {
                  text: "Company type"
                },
                content: {
                  html: companyStatusHtml
                }
              },
              {
                heading: {
                  text: "Company subtype"
                },
                content: {
                  html: "
                    <fieldset class='govuk-fieldset'>
                      <div class='govuk-form-group'>
                        <fieldset class='govuk-fieldset'>
                          <div class='govuk-checkboxes--small'>

                            <div class='govuk-checkboxes__item'>
                              <input class='govuk-checkboxes__input' id='community-interest-company' name='subtype' type='checkbox' value='community-interest-company'>
                              <label class='govuk-label govuk-checkboxes__label' for='community-interest-company'>
                                Community interest company
                              </label>
                            </div>

                            <div class='govuk-checkboxes__item'>
                              <input class='govuk-checkboxes__input' id='private-fund-limited-partnership' name='subtype' type='checkbox' value='private-fund-limited-partnership'>
                              <label class='govuk-label govuk-checkboxes__label' for='private-fund-limited-partnership'>
                                Private fund limited partnership
                              </label>
                            </div>

                          </div>
                        </fieldset>
                      </div>
                  </fieldset>"
                }
              },
              {
                heading: {
                  text: "Dissolved date"
                },
                content: {
                  html: "
                    <div class='govuk-form-group'>
                      <span class='accordion-label govuk-!-margin-bottom-3'>
                        We can only show companies dissolved since 01/01/2010.
                      </span>
                      <label class='accordion-label' for='dissolvedFrom' aria-label='Companies dissolved from'>
                        From
                      </label>
                      <div id='dissolved-date-from-hint' class='accordion-hint'>
                          For example, 21 03 2011
                      </div>
                      <div class='govuk-date-input' id='dissolvedFrom'>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-from-day' aria-label='Companies dissolved from day'>
                              Day
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='dissolved-from-day' name='dissolvedFromDay' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-from-month' aria-label='Companies dissolved from month'>
                              Month
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='dissolved-from-month' name='dissolvedFromMonth' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-from-year' aria-label='Companies dissolved from year'>
                              Year
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-4' id='dissolved-from-year' name='dissolvedFromYear' type='text'>
                          </div>
                        </div>
                      </div>

                      <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
                      <label class='accordion-label' for='dissolvedTo' aria-label='Companies dissolved to'>
                        To
                      </label>
                      <div id='dissolved-date-to-hint' class='accordion-hint'>
                          For example, 23 03 2011
                      </div>
                      <div class='govuk-date-input' id='dissolvedto'>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-to-day' aria-label='Companies dissolved to day'>
                              Day
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='dissolved-to-day' name='dissolvedToDay' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-to-month' aria-label='Companies dissolved to month'>
                              Month
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-2' id='dissolved-to-month' name='dissolvedToMonth' type='text'>
                          </div>
                        </div>
                        <div class='govuk-date-input__item'>
                          <div class='govuk-form-group'>
                            <label class='govuk-label govuk-date-input__label' for='dissolved-to-year' aria-label='Companies dissolved to year'>
                              Year
                            </label>
                            <input class='govuk-input govuk-date-input__input govuk-input--width-4' id='dissolved-to-year' name='dissolvedToYear' type='text'>
                          </div>
                        </div>
                      </div>
                    </div>"
                }
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Search",
              attributes: {
                "data-event-id": "advanced-search-start-page-search",
                id: "advanced-search-button"
              }
            }) }}

            {{ govukButton({
              text: "Clear search",
              attributes: {
                "data-event-id": "advanced-search-start-page-clear",
                id: "advanced-clear-search-button"
              },
              classes: "govuk-button--secondary",
              type: "reset"
            }) }}
          </div>
        </form>
    </div>
{% endblock %}
