{% extends "base.html" %}

{% block pageTitle %}
    {% if errorList.length > 0 %}
        Error:
    {% endif %}
        Advanced company search - Find and update company information - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to Companies House service",
  href: "/"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Advanced company search</h1>

        <p class="govuk-body"> Fill in one or more fields to search the Companies House register.</p>

      
        {{ govukAccordion({
          id: "accordion-default",

          items: [
            {
              heading: {
                text: "Company name"
              },
              content: {
                html: "
                  <fieldset class='govuk-fieldset'>

                  <div class='govuk-form-group'>  
                    <label class='accordion-label' for='contains-company-name'>
                      Company names that contain
                    </label>
                    <input class='govuk-input govuk-!-width-width-full' id='contains-company-name' name='contains-company-name' type='text'>
                  </div>

                  <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                  <div class='govuk-form-group'>
                    <label class='accordion-label' for='excludes-company-name'>
                      Exclude company names that contain
                    </label>
                    <input class='govuk-input govuk-!-width-width-full' id='excludes-company-name' name='excludes-company-name' type='text'>
                  </div>

                </fieldset>"
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Search",
            href:"advanced-search-scrollable"
          }) }}

          {{ govukButton({
            text: "Clear search",
            classes: "govuk-button--secondary"
          }) }}
        </div>

    </div>
  </div>

  <script>
    window.GOVUKFrontend.initAll()
  </script>


{% endblock %}