{% extends "base.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Advanced company search</h1>

        <p class="govuk-body"> Fill in one or more fields to search the Companies House register.</p>

      
        {{ govukAccordion({
          id: "accordion-default",

          items: [
            {
              heading: {
                text: "Company name"
              },
              content: {
                html: "
                  <fieldset class='govuk-fieldset'>

                  <div class='govuk-form-group'>  
                    <label class='accordion-label' for='contains-company-name'>
                      Company names that contain
                    </label>
                    <input class='govuk-input govuk-!-width-width-full' id='contains-company-name' name='contains-company-name' type='text'>
                  </div>

                  <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                  <div class='govuk-form-group'>
                    <label class='accordion-label' for='excludes-company-name'>
                      Exclude company names that contain
                    </label>
                    <input class='govuk-input govuk-!-width-width-full' id='excludes-company-name' name='excludes-company-name' type='text'>
                  </div>

                </fieldset>"

              }
            },
              {
              heading: {
                text: "Registered office address"
              },
              content: {
                html: "
                  <fieldset class='govuk-fieldset'>
                    <div class='govuk-form-group'>  
                      <label class='accordion-label' for='registered-office-address'>
                        Enter a full or partial address
                      </label>
                      <input class='govuk-input govuk-!-width-width-full' id='registered-office-address' name='registered-office-address' type='text'>
                    </div>
                  </fieldset>"
              }
            },
              {
              heading: {
                text: "Status"
              },
              content: {
                html: '<div class="govuk-form-group" style="overflow: scroll; height: 200px; width: 490px; padding-left: 5px;">
                          <fieldset class="govuk-fieldset" aria-describedby="company-status-hint">
                            <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="all-companies" name="all-companies" type="checkbox" value="all-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="all-companies">
                                All companies
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Active
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Dissolved
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Open
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Closed
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Converted closed
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Receivership
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Liquidation
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Administration
                                </label>
                              </div>


                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Insolvency proceedings
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Voluntary arrangement
                                </label>
                              </div>

                              
                          </div> 
                          </fieldset>
                        </div>'
              }
            },
            {
              heading: {
                text: "Company types"
              },
              content: {
                html: '<div class="govuk-form-group" style="overflow: scroll; height: 200px; width: 490px; padding-left: 5px;">
                          <fieldset class="govuk-fieldset" aria-describedby="company-type-hint">
                            <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="all-company-types" name="all-company-types" type="checkbox" value="all-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="all-company-types">
                                All company types 
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private unlimited company
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Private limited company
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Public limited company
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Old public company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private Limited Company by guarantee without share capital, use of \'Limited\' exemption
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Limited partnership
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private limited by guarantee without share capital
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Converted or closed
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private unlimited company without share capital
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private Limited Company, use of \'Limited\' exemption
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Protected cell company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Assurance company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Overseas company
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                European Economic Interest Grouping (EEIG)
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Investment company with variable capital - securities
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Investment company with variable capital -  warrant
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Investment company with variable capital -  umbrella
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Registered society
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Industrial and Provident society
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Northern Ireland company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Credit union (Northern Ireland)
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Limited liability partnership
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Royal charter company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Investment company with variable capital
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Unregistered company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                European public limited liability company (SE)
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                UK establishment company
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Scottish qualifying partnership
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Charitable incorporated organisation
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Scottish charitable incorporated organisation
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Further education or sixth form college corporation
                              </label>
                            </div>

                          </div> 
                          </fieldset>
                        </div>'
              }
            },
            {
              heading: {
                text: "Incorporation date"
              },
              content: {
                html: '<div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-from">
                                Companies incorporated after
                              </label>
                            </h1>
                            <div id="incorporation-date-from-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-from" name="incorporation-date-from" type="text" spellcheck="false" aria-describedby="incorporation-date-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-to">
                                Companies incorporated before
                              </label>
                            </h1>
                            <div id="incorporation-date-to-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-to" name="incorporation-date-to" type="text" spellcheck="false" aria-describedby="incorporation-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        '         
              }
            },
            {
              heading: {
                text: "Dissolution date"
              },
              content: {
                html: '
                          <div class="govuk-form-group">

                             <span id="sic-code" class=" accordion-label govuk-!-margin-bottom-1">

                            We can only show companies dissolved since 01/01/2010. </span>


                            <h1 class="govuk-label-wrapper "><label class="accordion-label govuk-label--s" style="padding-top:10px;" for="dissolved-date-from">
                               Companies dissolved after
                              </label>
                            </h1>
                            <div id="dissolved-date-from-hint" class="accordion-hint">
                              For example, 2011 or 21/3/2011
                              
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="dissolved-date-from" name="dissolved-date-from" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="dissolved-date-to">
                                Companies dissolved before
                              </label>
                            </h1>
                            <div id="dissolved-date-to-hint" class="accordion-hint">
                              For example, 2011 or 21/3/2011
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="dissolved-date-to" name="dissolved-date-to" type="text" spellcheck="false" aria-describedby="dissolved-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>'
              }
            },
            {
              heading: {
                text: "Nature of business"
              },
              content: {
                html: '<div class="govuk-form-group">

                        <span id="sic-code" class=" accordion-label govuk-!-margin-bottom-1">
                          Select a Standard Industrial Classification (SIC) code to search by nature of business. 
                        </span>
                        <label class="accordion-label" for="event-name" style="padding-top:10px;">
                          Enter a search term, for example ‘motor’.
                        </label>
      
                        
                        <input class="govuk-input govuk-!-width-full" id="event-name" name="event-name" type="text">

                        <p style="padding-top:10px;"> <a href="http://resources.companieshouse.gov.uk/sic/" target="_blank" class="govuk-link accordion-label">Browse codes (opens in a new tab)</a></p>

                      </div>'
              }
            }
          ]
        }) }}
        
        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Search",
            href:"advanced-search-scrollable"
          }) }}

          {{ govukButton({
            text: "Clear search",
            classes: "govuk-button--secondary"
          }) }}
        </div>

    </div>
  </div>

  <script>
    window.GOVUKFrontend.initAll()
  </script>


{% endblock %}